{{/*
SPDX-FileCopyrightText: 2021 Phu Hung Nguyen <phu@kde.org>
SPDX-FileCopyrightText: 2022 Carl Schwan <carlschwan@kde.org>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{ define "head-import" }}

{{ $swiperCss := resources.Get "css/swiper-bundle.min.css" }}
{{ $oldStyle := resources.Get "scss/components/swiper.scss" | toCSS }}
{{ $applicationStyle := resources.Get "scss/applications.scss" | toCSS }}

{{ $css := slice $swiperCss $oldStyle $applicationStyle | resources.Concat "css/bundle.css"  | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" />

<link rel="stylesheet" href="https://cdn.kde.org/breeze-icons/icons.css" />

{{ with resources.Get (printf "scss/%s.scss" .Params.ID ) }}
  {{ $style := . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
{{ end }}
{{ end }}

{{ define "main" }}
  <main itemscope itemtype="http://schema.org/SoftwareApplication">
    <meta itemprop="operatingSystem" content="Linux" />
    <meta itemprop="name" content="{{ .Params.name }}"/>
    <meta itemprop="isFamilyFriendly" content="true"/>
    <meta itemprop="applicationCategory" content="{{ .Params.MainCategory }}"/>

    {{ partial "app_top.html" . }}

    {{ if .Site.GetPage (printf "/custom/%s.md" .File.BaseFileName) }}
      {{ (.Site.GetPage (printf "/custom/%s.md" .File.BaseFileName)).Content }}
      <div class="container" style="overflow: hidden;">
        <div class="row">
          <section class="description col-12 col-md-8 col-lg-9">
            {{ partial "app_downloads" . }}
            {{ partial "app_main_btm_left_btm.html" . }}
          </section>
          {{ partial "app_main_btm_right.html" . }}
        </div>
      </div>
    {{ else }}
      <div class="container" style="overflow: hidden;">
        {{ partial "app_main_top.html" . }}
        <div class="row">
          <section class="description col-12 col-md-8 col-lg-9">
            {{ partial "app_main_btm_left_top.html" . }}
            {{ partial "app_main_btm_left_btm.html" . }}
          </section>
          {{ partial "app_main_btm_right.html" . }}
        </div>
      </div>
    {{ end }}
  </main>
{{ end }}

{{ define "tail-import" }}
{{ $swiperJs := resources.Get "js/swiper-bundle.min.js" }}
<script src="{{ $swiperJs.RelPermalink }}"></script>

{{ $swiperInit := resources.Get "js/swiper-init.js" }}
{{ $os := resources.Get "js/os.js" }}
{{ $js := slice $swiperInit $os | resources.Concat "js/app-bundle.js" }}
{{ if hugo.IsServer }}
<script src="{{ $js.RelPermalink }}"></script>
{{ else }}
{{ $js = $js | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" crossorigin="anonymous" defer=""></script>
{{ end }}
{{ end }}
